$backgroundColor: #eee;
$spacing: 2rem;
$links: #35a8ff;



@import "libs/normalize";
@import "libs/foundation/foundation/settings";
@import "libs/foundation/foundation";
// @import "libs/foundation/foundicons";
@import "libs/font-awesome/font-awesome";
@import "size";
// http://owlgraphic.com/owlcarousel/
@import "libs/owl.carousel";
@import "libs/lightbox";
// @import "libs/flickrbomb";

@import "owl.theme";
  
   
/*
   Custom Mixins
   ========================================================================== */
@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
 }

$deg: -30deg;

.rotate {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}



body {
  // background: $smoke;
  font-size: 60%;
  color: $charcoal;
}

hr.hr-alt {
  margin: 20px 0;
}
strong {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
}

/*
** clear custom panel 
**-------------------------------------------------------------------*/
.clear-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: $transparent,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:00px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  text-align: center;
  border: 0;
}

/*
   HEADER SECTION
   ========================================================================== */
.header-section {
  //margin-bottom: -14px;
}

/*
   Logo and Slider
   ========================================================================== */
/*
** Logo 
**-------------------------------------------------------------------*/
img.logo {
    width:200px;
  } 

/*
** OWL Carousel
** Touch enabled jQuery plugin that lets you create beautiful responsive
** carousel slider. 
** Website documentation: http://owlgraphic.com/owlcarousel/index.html 
**-------------------------------------------------------------------*/
#owl-demo .item{
  // margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*
   Landing Page Elements
   ========================================================================== */
.jumbotron {
  background: url(/signaturehc/images/sch_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2em 0;
  
  .device {
  top: 25px!important;
  } 
}
span.title {
    position: relative;
    font-size: 1em;
    font-weight: 600;
    padding-left: 30px;
    color: lighten($oil, 15%);
    &:before {
      content: "\f085";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: lighten($oil, 20%);
      font-size: 21px;
      padding-right: 0.5em;
      position: absolute;
      top: -5px;
      left: 0px;
    }
}
span.title-img {
    position: relative;
    font-size: 1em;
    font-weight: 600;
    color: lighten($oil, 15%);
}
  span.blub {
    display: block;
    color: lighten($oil, 15%);
    font-size: 0.75rem;
    line-height: 18px;
  }

.jumbotron-alt {
  background: url(/images/sch_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2em 0;
  .device {
  top: 35px!important;
  } 
}

h1.header {
  margin:0;
  text-transform:uppercase;
  text-align:center;
  background:url(/signaturehc/images/h1_line.png) repeat-x right center;
  font-size: 32px;
  line-height: 66px;
  color:#3e3e3e;
  font-weight: 600;
  span {
  background: $white;
  padding: 10px 15px;
  }
}
h1.header-alt {
  margin:0;
  text-transform:uppercase;
  text-align:center;
  background:url(/images/h1_line.png) repeat-x right center;
  font-size: 32px;
  line-height: 66px;
  color:#3e3e3e;
  font-weight: 600;
  span {
  background: $white;
  padding: 10px 15px;
  }
}

ul.check li {
  list-style-type: none;
  margin-left: 20px;
  color: #777777;
  color: rgba(0, 0, 0, 0.6);
  line-height: 30px;
  &:before {
    content: "\f14a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #777777;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    padding-right: 0.5em;
    position: absolute;
    left: 27px;
  }
}

.section-area {
  padding: 50px 0 0px;
  &.last {
    padding: 50px 0;
  }
}

.contact {
  p { margin-top: -15px;} 
  form {margin-top: 25px;}
  .submit { 
    @include button();
    margin: 0 10px 15px; 
    padding: 10px 30px;
    background: $primary-color;
    font-size: 11px;
    // border: 1px solid $primary-color;
    &:hover {
      background: darken($primary-color, 15%);
    };
  }
}

/*
** Default Buttons 
**-------------------------------------------------------------------*/
.custom-button {
  @include button();
  margin: 25px 15px;
  padding: 15px 50px; 
}
.custom-button-radius {
  @include button($radius:3px);
  margin: 25px 15px; 
  padding: 15px 50px;
  background: darken($primary-color, 10%);
  &:hover {
    background: darken($primary-color, 15%);
  }
} 
.learn-more-btn {
  @include button();
  margin: 10px 20px;
  padding: 10px 50px;
  &.first {margin: 10px 0 20px;}
  &.last {margin: 10px 0 0px;}
}

.social-grid {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    // $per-row: 4,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: 1em,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
  &> li {
    padding: 0 .3em 0em;
    width: 24.33333%;
  }
}
/*
** Wiget Areas Blocks 
**-------------------------------------------------------------------*/
.learn-links {
  font-size: 1rem;
  margin: 30px 0;
  text-align: center;
  padding: 10px 25px 0 15px;
  height:250px;
  border-left: 1px solid rgba($iron, .8);
  // font-family: sans-serif;
  h4 {margin: 20px 0 0 0;}
  p {margin:10px 0;
  line-height: 1.2;
  font-size: .87rem;
  font-weight: 800;
  }
  ul {
    margin-left: 0;
    li {
      display: block;
    }
  }
  //This .first class takes the left border disapear 
  &.first {
    border-left: 0px solid rgba($iron, .8);
    ul {
      margin-left: 0;
      li {
        display: block;
      }
    }
  }

}

/*
   Footer and Footer Widgets
   ========================================================================== */
.footer-section {
  font-size: 10px;
  margin-top: 0px;
  padding: 20px 0;
  background: $white;
  color: $oil;
  span.title {
    position: relative;
    font-size: 1rem;
    margin-bottom: 5px;
    padding-left: 35px;
    color: lighten($oil, 15%);
    &:before {
      content: "\f1d8";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      color: lighten($oil, 20%);
      font-size: 18px;
      padding-right: 0.5em;
      position: absolute;
      top: 8px;
      left: 0px;
    }
  }
  span.blub {
    display: block;
    color: lighten($oil, 15%);
    font-size: 0.75rem;
    padding-left: 35px;
    line-height: 18px;
  }
  p {
    font-size: 1rem;
    line-height: 1rem;
  }

}
footer-section-light {
  background:none;
}

/* Custom elements ---------------------------*/
.blue-box {
  background-color: rgba($primary-color,0.55);
  padding: 30px;
  font-weight: 900;
  color: $white;
  h1 {
    font-family:'Roboto', Arial, sans-serif;
   color: $jumbo }
  .black-box-btn { 
    @include button($radius:3px);
    margin: 10px 15px; 
    padding: 15px 50px;
    background: $transparent;
    border: 1px solid $iron;
    &:hover {
      background: darken($iron, 15%);
    };
  }
}
.signup {
  padding: 5em 0 4em;
  h1 {color: $primary-color; text-transform: uppercase;}
  p { color: $primary-color; margin-top: -15px;} 
  form {margin-top: 25px;}
  .submit { 
    @include button();
    margin: 0 0 15px; 
    padding: 9px 50px;
    background: $primary-color;
    border: 1px solid $primary-color;
    &:hover {
      background: darken($primary-color, 15%);
    };
  }
}

.form_panel{
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:darken($primary-color, 10%),
    // Sets the panel padding amount. Default: $panel-padding
    $padding:10px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  color: $white;
  margin-bottom: 0;
  height: 100%;
  border-top: 0px solid blue;
  border-bottom:0px solid blue;
  h1,h2,h3 {
    padding: 5px 0 05px;
    font-family: 'Colfax-Medium', Arial, sans-serif;
    color: $white; 
  }
  .submit { 
    @include button($radius:3px,$full-width:true);
    margin: 15px 0 15px; 
    padding: 9px 50px;
    background: darken($primary-color, 10%);
    border: 1px solid darken($primary-color, 20%);
    color:$white!important;
    &:hover {
      background: darken($primary-color, 20%);
    };
  }
}

/*
   Media Queries
   ========================================================================== */

@media #{$small-only} { 
  .signup {
    padding: 5em 0 4em;
    h1 {color: $primary-color; text-transform: uppercase; text-align: center;}
    p { color: $primary-color; margin-top: -15px;text-align: center;} 
    form {margin-top: 25px;}
    .submit { 
      @include button($full-width:true);
      margin: 0 0 15px; 
      padding: 9px 50px;
      background: $primary-color;
      border: 1px solid $primary-color;
      &:hover {
        background: darken($primary-color, 15%);
      };
    }
  }

}
